@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
/* @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@0;1&display=swap'); */
@import url('href="https://fonts.googleapis.com/css2?family=Itim&display=swap"');

/* เปลี่ยน Font */
* {
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Itim', cursive;
}

/* sidebar สีพื้นหลัง */
.bg-custom-sidebar {
    background-image: linear-gradient(15deg, #867070 0%, #8D7B68 100%);
}

/* header สีพื้นหลัง */
.bg-custom-header {
    background-image: linear-gradient(15deg, #A4907C 0%, #867070 100%);
}